<div>
    <div>
        <h2> {{post.title}} </h2>
        <p name="post-id">{{post.id}}</p>
        <p> {{post.createdAt}} </p>
        {{#if post.user.username}}
        <p> {{post.user.username}} </p>
        {{/if}}
    </div>
    <div>
        <p> {{post.body}} </p>
    </div>
    {{#each post.comments as |comment|}}
    <div>
        <p> {{comment.body}} </p>
        <p> commented by: {{comment.user.username}} on {{comment.createdAt}}</p>
    </div>
    {{/each}}
    <label for="comment">Share your thoughts:</label><br>
    <textarea name="comment-body" id="comment" type="text"></textarea>
    <button id="new-comment-form">Leave Comment</button>
</div>

<script src="/js/comment.js"></script>